<%= render :partial => "shared/error", :locals => { error: @error } %>
Login Page.
<form action="/login" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div>
    <label for="account_name"><%= t(".account_name") %></label>
    <input type="text" name="account_name" value="<%= @params.try(:[], :account_name) %>" id="account_name">
  </div>
  <div>
    <label for="password"><%= t(".password") %></label>
    <input type="password" name="password" value="<%= @params.try(:[], :password) %>" id="password">
  </div>
  <div>
    <input type="submit" value="<%= t(".login") %>" data-disable-with="Login...">
  </div>
</form>
<hr>
<div>
  <a href="/auth/twitter"><%= t(".login_by_twitter") %></a>
</div>
<div>
  <a href="/auth/google_oauth2"><%= t(".login_by_google") %></a>
</div>
<div>
  <a href="/auth/facebook"><%= t(".login_by_facebook") %></a>
</div>
