<%
  @params ||= {}
  @errors ||= { record: {}, bad: {} }
%>
<% @errors[:record].each do |key, value| %>
  <div>
    key: <%= key %>
    value: <%= value.first[:error] %>
  </div>
<% end %>
<% if @errors[:bad].present? %>
  <div>
    code: <%= @errors[:bad].code %>
    field: <%= @errors[:bad].field %>
  </div>
<% end %>
Login Page.
<form action="/login" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div>
    <label for="account_name"><%= t(".account_name") %></label>
    <input type="text" name="account_name" value="<%= @params[:account_name] %>" id="account_name">
  </div>
  <div>
    <label for="password"><%= t(".password") %></label>
    <input type="password" name="password" value="<%= @params[:password] %>" id="password">
  </div>
  <div>
    <input type="submit" value="<%= t(".login") %>" data-disable-with="Login...">
  </div>
</form>
