<%= render :partial => "shared/error", :locals => { error: @error } %>
<h2>Email Changes</h2>

<form action="<%= settings_emails_path %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="_method" value="put">
  <div>
    <label for="email"><%= t(".email") %></label>
    <input type="email" name="email" value="<%= @params.try(:[], :email) %>">
  </div>
  <div>
    <input type="submit" value="<%= t(".update_email") %>">
  </div>
</form>
