<% content_for :js do %>
  <%= javascript_include_tag "controllers/users_controller" %>
<% end %>
<h1>Follower User</h1>

<% @follows.each do |follow| %>
  <div>
    <span><%= Profile.human_attribute_name :name %>: </span>
    <span><%= follow.owner.name %></span>
  </div>
  <div>
    <button onclick="followUser(this, '<%= follow.owner.id %>', '<%= follow.owner.name %>', <%= follow.owner.is_following? %>)"><%= follow.owner.is_following_text %></button>
  </div>
  <hr>
<% end %>
<%= paginate @follows %>
<hr>
<a href="#" onclick="javascript:window.history.back(-1);return false;">Back</a>
